.container#title
  h1 PLAN AN EVENT
  h2 EXPLORE THE WORLD WITH THE PEOPLE YOU LOVE
.subcontainer#right
  a.front-btn(ng-click='next()') CREATE AN EVENT
.subcontainer#left
  a.front-btn(ng-click='next()') START EXPLORING
