.container
  .hero-unit
    h1 Schedule your next event!
    p Whether you know when are where you want to go, or need to have your group decide, we've got you covered
    p
      a.btn.btn-primary.btn-large(onclick='handleAuthClick()') Sign up now!
