!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title When to meet?
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('lib/bootstrap')
  != css('app')
  != css('lib/bootstrap-responsive')

  
body(ng-app='autoresponse')

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') When to meet?

  block content

  != js('https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAF5O-QreoLDTOYa4eEuBg3JbxbSfTavvY&sensor=false')
  != js('google')
  != js('app')
  script(type='text/javascript', src='https://apis.google.com/js/client.js?onload=handleClientLoad')

| </html>
